.card {
  width: 90vw;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  position: relative;
}

.profil-img {
  position: relative;
  width: 98vw;
  height: 89vh;
  max-width: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}
//delete-dislike effect
.mytranslatex {
  transition: 0.8s;

  transform: translateX(-50vw) translateY(30vw) rotate(-30deg);
}
//heart-like effect
.myhearttranslatex {
  transition: 0.8s;

  transform: translateX(50vw) translateY(30vw) rotate(30deg);
}
//star button effect
.mystartranslatex {
  transition: 0.8s;

  transform: translateY(-60vw);
}
.card-wrapper {
  display: flex;
  justify-content: center;
}
.swipe {
  position: absolute;
}

.profil-img h1 {
  position: absolute;
  bottom: 15vh;
  color: white;
  left: 15px;
}
.hover {
  color: rgb(55, 184, 151);
  font-size: xx-large;
  position: absolute;
  border: 1px solid rgb(55, 184, 151);
  bottom: 500px;
  padding: 5px;
  display: block;
}
@media only screen and (max-width: 500px) {
  //delete-dislike effect
  .mytranslatex {
    transition: 0.8s;

    transform: translateX(-500px) translateY(300px) rotate(-30deg);
  }
  //heart-like effect
  .myhearttranslatex {
    transition: 0.8s;

    transform: translateX(500px) translateY(300px) rotate(30deg);
  }
  //star button effect
  .mystartranslatex {
    transition: 0.8s;

    transform: translateY(-200vw);
  }
}
