.profile-wrapper {
  color: rgb(141, 141, 141);
  overflow: scroll;
  display: flex;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-wrap: wrap;
  }
}

.profile-edit {
  position: absolute;
  right: 6%;
  top: 2%;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  color: white;
  border: none;
  background: linear-gradient(140deg, #ff2471 50px, #ffaa49);
  z-index: 10;

  &:hover {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.575);
  }
}

.profile-information-wrapper,
.profile-main-information {
  padding: 2%;
}
.profile-info {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;

  p {
    margin-left: 6px;
  }
}

.profile-name {
  color: rgb(80, 80, 80);
  padding: 5px 10px 5px 10px;
}

.profile-back {
  position: absolute;
  left: 5%;
  top: 3%;
  color: grey;
  font-size: 20px;
  z-index: 10;
}

.profile-text {
  align-items: center;
  justify-content: flex-start;
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;

  .profile-text-title {
    padding: 2%;
    text-align: center;
    font-size: 1.8em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bolder;
  }

  p {
    padding-top: 20px;
  }
}
